%p#notice= notice

.container
  .row
    .col-md-10
      %h2= team.name.upcase
    .col-md-2.team_money
      %h4 Balance: #{team.money} gp
  .row
    .col-md-4
    .col-md-4
      = render 'draw_encounter_form'
    .col-md-4
  .row
    .col-md-12
      = link_to 'Edit', edit_team_path(team), class: 'btn btn-primary'
      = link_to 'Back', teams_path, class: 'btn btn-default'
