%h1 Listing characters

%table
  %thead
    %tr
      %th Name
      %th Experience
      %th Team
      %th
      %th
      %th

  %tbody
    - characters.each do |character|
      %tr
        %td= character.name
        %td= character.experience
        %td= character.team
        %td= link_to 'Show', team_character_path(team, character), class: 'btn btn-default'
        %td= link_to 'Edit', edit_team_character_path(team, character), class: 'btn btn-primary'
        %td= link_to 'Destroy', team_character_path(team, character), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Character', new_team_character_path(team, character), class: 'btn btn-success'
