%p#notice= notice

%p
  %b Name:
  = character.name
%p
  %b Experience:
  = character.experience
%p
  %b Team:
  = character.team

= link_to 'Edit', edit_character_path(character)
\|
= link_to 'Back', characters_path
