%p#notice= notice

%p
  %b Name:
  = character.name
%p
  %b Experience:
  = character.experience
%p
  %b Team:
  = character.team

= link_to 'Edit', edit_team_character_path(team, character), class: 'btn btn-primary'
= link_to 'Back', team_characters_path(team), class: 'btn btn-default'
